.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

html, body {
  height: 100%;
  font-family: "Amatic SC", sans-serif;
}

body {
  margin: 0;
  background-color: black;
  .offset {
    margin-top: -500px;
  }
}

@media only screen and (min-width: 600px) {

  .TopMenu {
    position: fixed;
    top: 0;
    height: 46px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    overflow: hidden;

    .TopMenuButtons {
      height: 50px;

      ul {
        list-style-type: none;
        padding: 0;
        margin-top: 0;

        a {

          display: inline-block;
          padding: 8px 16px;
          text-decoration: none;
          color: white;
          li {
            font-size: 24px;

          }
        }
        a:hover {
          background-color: lightgray;
          color: black;

        }

      }
    }
  }
  .TopMenu:hover {
    background-color: black;
    .TopMenuButtons:hover {

    }
  }

}

@media only screen and (max-width: 600px) {
  .TopMenu {
    display: none;
    .TopMenuButtons {
      display: none;
      ul {
        display: none;
      }
    }
  }
}

.topPicture {
  background-image: url("../Pics/pizza.jpg");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 90%;
  filter: grayscale(60%);
  width: 100%;

  .text {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .LetMeButton {
      font-size: 36px;
      margin-top: 30px;
      a {
        background-color: black;
        color: white;
        text-decoration: none;
        padding: 8px 16px;

      }
      a:hover {
        background-color: lightgray;
        color: black;
      }
    }
    @media only screen and (min-width: 600px) {

      h1 {
        font-size: 100px;
        color: white;
        font-weight: 400;
        margin: 0;
        line-height: 1.5;
      }
      .LetMeButton {
        min-width: 198px;
      }
    }
  }
  @media only screen and (max-width: 600px) {

    .text {
      min-width: 200px;
      h1 {
        font-size: 60px;
        color: white !important;
        font-weight: bold;
        margin: 0;
        line-height: 1.5;
      }
      .LetMeButton {
        min-width: 300px;
      }
    }

  }
}

.OpenHours {
  position: absolute;
  bottom: 10px;
  left: 15px;
  h4 {
    margin: 0;
    color: white;
    background-color: black;
    font-size: 24px;
    font-weight: 400;
    padding: 2px 7px;
  }
}

.theMenu {
  margin-top: 150px;
  margin-bottom: 100px;
  min-height: 300px;

  h1 {
    text-align: center;
    font-size: 60px;
    color: white;
  }

}

.middleMenu {
  max-width: 980px;
  margin: auto;
  background-color: white;
  .midMenuButtons {
    overflow: hidden;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      width: inherit;
      overflow: hidden;
      li {
        text-align: center;
        margin-right: -4px;
        margin-left: -4px;
        margin-top: 1px;
        color: white;
        display: inline-block;
        background-color: black;
        padding: 12px 2px;
        font-size: 36px;
        border: none;
        outline: none;
      }
      li:hover {
        background-color: #f44336;
      }
    }

  }
  .pizzaMenu {
    max-width: 980px;
    .pizzaName {
      float: left;
      h1#red {
        overflow: hidden;
        width: 150px;
        background-color: #f44336;
        font-size: 36px;
        font-weight: 400;

        border-radius: 8px;
      }

      h1 {
        float: left;
        color: black;
        font-size: 36px;
        padding-left: 20px;
        margin-left: 20px;
      }

    }
    .pizzaPrice {
      overflow: hidden;
      text-align: center;
      max-width: 100px;

      h2 {
        margin: 0;
        font-weight: 400;
        font-size: 36px;
        background-color: #616161;
        margin-top: 30px;
        border-radius: 6px;
        color: white;
        margin-bottom: 20px;

      }
    }
    .pizzaIngrediants {
      text-align: left;
      margin-left: 20px;
      padding-bottom: 40px;
      padding-top: 20px;
      border-bottom: 1px solid lightgray;

      width: 95%;
      span {

        font-size: 36px;
        color: #757575;

      }
    }

  }
}

.about {
  background-color: #8b5f5b;
  min-height: 300px;
  width: 100%;
  h1 {
    text-align: center;
    color: white;
    font-size: 60px;
    padding-top: 80px;
    font-weight: 400;

  }
  .allInfo {
    max-width: 980px;
    margin: auto;
    .chef {
      overflow: hidden;
      width: 50%;

    }
    div {
      .botomImg {
        img {
          width: 100%;
        }
      }
    }
    #smallPick {
      border-radius: 100px / 60px;
      height: 100px;
      width: 150px;
      float: right;

    }
    .left {
      float: left;
      width: 50%;
    }
    .right {
      overflow: hidden;
      width: 50%;
    }
    h1 {
      font-size: 36px;
      font-weight: 400;
      text-align: left;
    }
    p {
      color: white;
      font-size: 24px;
    }
  }
}

.contact {
  width: 100%;
  background-color: #607d8b;
  .contactInfo {
    max-width: 980px;
    margin: auto;
    min-height: 300px;
    h1 {
      color: white;
      margin: 0;
      padding-top: 80px;
    }
    p, mark {
      color: white;

      font-size: 24px;
    }
    span{
      font-size: 36px;
      color: white;
    }
    input{
      display: inline-block;
      width:100%;
      padding:16px;
      font-size: 24px;
      font-family: "Amatic SC", sans-serif;
      margin-bottom: 24px;
      overflow: hidden;

    }
    input[type=button]{
      display: inline-block;
    width: 100%;
    }
  }
}
.botblack {
  background-color: black;
  width: 100%;
  color: white;
  font-size: 36px;
  p{
    a{
      color:white;
    }
  }


}
.clear {
  clear: both;
}