.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  font-family: "Amatic SC", sans-serif; }

body {
  margin: 0;
  background-color: black; }

@media only screen and (min-width: 600px) {
  .TopMenu {
    position: fixed;
    top: 0;
    height: 46px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    overflow: hidden; }
    .TopMenu .TopMenuButtons {
      height: 50px; }
      .TopMenu .TopMenuButtons ul {
        list-style-type: none;
        padding: 0;
        margin-top: 0; }
        .TopMenu .TopMenuButtons ul a {
          display: inline-block;
          padding: 8px 16px;
          text-decoration: none;
          color: white; }
          .TopMenu .TopMenuButtons ul a li {
            font-size: 24px; }
        .TopMenu .TopMenuButtons ul a:hover {
          background-color: lightgray;
          color: black; }

  .TopMenu:hover {
    background-color: black; } }
@media only screen and (max-width: 600px) {
  .TopMenu {
    display: none; }
    .TopMenu .TopMenuButtons {
      display: none; }
      .TopMenu .TopMenuButtons ul {
        display: none; } }
.topPicture {
  background-image: url("../Pics/pizza.jpg");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 90%;
  filter: grayscale(60%);
  width: 100%; }
  .topPicture .text {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .topPicture .text .LetMeButton {
      font-size: 36px;
      margin-top: 30px; }
      .topPicture .text .LetMeButton a {
        background-color: black;
        color: white;
        text-decoration: none;
        padding: 8px 16px; }
      .topPicture .text .LetMeButton a:hover {
        background-color: lightgray;
        color: black; }
    @media only screen and (min-width: 600px) {
      .topPicture .text h1 {
        font-size: 100px;
        color: white;
        font-weight: 400;
        margin: 0;
        line-height: 1.5; }
      .topPicture .text .LetMeButton {
        min-width: 198px; } }
  @media only screen and (max-width: 600px) {
    .topPicture .text {
      min-width: 200px; }
      .topPicture .text h1 {
        font-size: 60px;
        color: white !important;
        font-weight: bold;
        margin: 0;
        line-height: 1.5; }
      .topPicture .text .LetMeButton {
        min-width: 300px; } }

.OpenHours {
  position: absolute;
  bottom: 10px;
  left: 15px; }
  .OpenHours h4 {
    margin: 0;
    color: white;
    background-color: black;
    font-size: 24px;
    font-weight: 400;
    padding: 2px 7px; }

.theMenu {
  margin-top: 150px;
  margin-bottom: 100px;
  min-height: 300px; }
  .theMenu h1 {
    text-align: center;
    font-size: 60px;
    color: white; }

.middleMenu {
  max-width: 980px;
  margin: auto;
  background-color: white; }
  .middleMenu .midMenuButtons {
    overflow: hidden; }
    .middleMenu .midMenuButtons button {
      font-family: "Amatic SC", sans-serif;
      width: 33.33%;
      text-align: center;
      color: white;
      background-color: black;
      padding: 12px 2px;
      font-size: 36px;
      border: none;
      outline: none;
      float: left;
      overflow: hidden; }
    .middleMenu .midMenuButtons button:hover {
      background-color: #f44336;
      cursor: hand; }
    .middleMenu .midMenuButtons button:active {
      background-color: white;
      color: black; }
  .middleMenu .pizzaMenu {
    max-width: 980px; }
    .middleMenu .pizzaMenu .pizzaName {
      float: left; }
      .middleMenu .pizzaMenu .pizzaName h1#red {
        overflow: hidden;
        width: 150px;
        background-color: #f44336;
        font-size: 36px;
        font-weight: 400;
        border-radius: 8px; }
      .middleMenu .pizzaMenu .pizzaName h1 {
        float: left;
        color: black;
        font-size: 36px;
        padding-left: 20px;
        margin-left: 20px; }
    .middleMenu .pizzaMenu .pizzaPrice {
      overflow: hidden;
      text-align: center;
      max-width: 100px; }
      .middleMenu .pizzaMenu .pizzaPrice h2 {
        margin: 0;
        font-weight: 400;
        font-size: 36px;
        background-color: #616161;
        margin-top: 30px;
        border-radius: 6px;
        color: white;
        margin-bottom: 20px; }
    .middleMenu .pizzaMenu .pizzaIngrediants {
      text-align: left;
      margin-left: 20px;
      padding-bottom: 40px;
      padding-top: 20px;
      border-bottom: 1px solid lightgray;
      width: 95%; }
      .middleMenu .pizzaMenu .pizzaIngrediants span {
        font-size: 36px;
        color: #757575; }
  @media only screen and (max-width: 600px) {
    .middleMenu .pizzaMenu {
      width: 95%; } }

.about {
  background-color: #8b5f5b;
  min-height: 300px;
  width: 100%; }
  .about h1 {
    text-align: center;
    color: white;
    font-size: 60px;
    padding-top: 80px;
    font-weight: 400; }
  .about .allInfo {
    max-width: 980px;
    margin: auto; }
    .about .allInfo .chef {
      overflow: hidden;
      width: 50%; }
    .about .allInfo div .botomImg img {
      width: 100%; }
    .about .allInfo #smallPick {
      border-radius: 100px / 60px;
      height: 100px;
      width: 150px;
      float: right; }
    .about .allInfo .left {
      float: left;
      width: 50%; }
    .about .allInfo .right {
      overflow: hidden;
      width: 50%; }
    @media only screen and (max-width: 600px) {
      .about .allInfo .left {
        float: left;
        width: 48%;
        font-size: 10px; }
      .about .allInfo .right {
        overflow: hidden;
        width: 48%;
        font-size: 10px; } }
    .about .allInfo h1 {
      font-size: 36px;
      font-weight: 400;
      text-align: left; }
    .about .allInfo p {
      color: white;
      font-size: 24px; }

.contact {
  width: 100%;
  background-color: #607d8b; }
  .contact .contactInfo {
    max-width: 980px;
    margin: auto;
    min-height: 300px; }
    .contact .contactInfo h1 {
      color: white;
      margin: 0;
      padding-top: 80px;
      font-size: 64px;
      text-align: center;
      margin-bottom: 80px; }
    .contact .contactInfo p, .contact .contactInfo mark {
      color: white;
      font-size: 24px; }
    .contact .contactInfo span {
      font-size: 36px;
      color: white; }
    .contact .contactInfo input {
      display: inline-block;
      width: 100%;
      padding: 16px;
      font-size: 24px;
      font-family: "Amatic SC", sans-serif;
      margin-bottom: 24px;
      overflow: hidden; }
    .contact .contactInfo input[type=submit] {
      display: inline-block;
      width: 100%;
      margin-bottom: 80px; }

.botblack {
  background-color: black;
  width: 100%;
  color: white;
  font-size: 36px; }
  .botblack p a {
    color: white; }
  .botblack .lin:hover {
    color: green; }

.clear {
  clear: both; }

#openHours {
  width: 100%;
  min-height: 450px; }

/*# sourceMappingURL=style.css.map */
